*{
    font-size: 3vw;
    /*
    border: 1px;
    border-color: white;
    border-style:groove;
    */
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    /*
    .menu, .main, .right {  //<div class="main"></div>
      width: 100%;

    }
    */
}